{% extends 'bootstrap/base.html' %}

{% block styles %}

    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

{% endblock %}

{% block scripts %}

    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    {{ super() }}

{% endblock %}

{% block title %}Disappearing Text Writing App{% endblock %}


{% block content %}
<div class="content">
    <div class="editor">
        {{ form.text() }}
    </div>
    <div class="wordcount">0 words</div>
</div>
{% endblock %}
