{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}IT Books{% endblock %}

{% block content %}
<div class='App'>
    <header>
        <nav class='navbar'>
            <div class='container'>
                <a class='navbar-brand' href="{{ url_for('home') }}">IT Books</a>
                <div class='navbar-nav'>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link me-5" href="{{ url_for('admin') }}">Admin Panel</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class='title-heading mt-5 pt-4 not-found'>
        <h2>404</h2>
        <h3>Page Not Found</h3>
    </div>

    <footer>
        <p>Copyright © 2023</p>
    </footer>
</div>
{% endblock %}