{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Edit Review# {{review.id}}{% endblock %}

{% block content %}
<div class='App'>
    <header>
        <nav class='navbar'>
            <div class='container'>
                <a class='navbar-brand' href="{{ url_for('home') }}">IT Books</a>
            </div>
        </nav>
    </header>

    <section class='section text-muted'>
        <div class='container'>
            <h5>Edit Review #{{review.id}}</h5>
            <div className='row'>
                <div className='col-lg-12'>
                    {{ wtf.quick_form(form, novalidate=True) }}
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>Copyright © {year}</p>
    </footer>
</div>
{% endblock %}