{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Select Book{% endblock %}

{% block content %}
<div class='App'>
    <header>
        <nav class='navbar'>
            <div class='container'>
                <a class='navbar-brand' href="{{ url_for('home') }}">IT Books</a>
                <div class='navbar-nav'>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link me-5" href="{{ url_for('admin') }}">Admin Panel</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class='section'>
        <div class='container'>
            {{ wtf.quick_form(form, novalidate=True, form_type='inline', button_map={'submit': 'outline-primary my-2 my-sm-0'}) }}
        </div>
    </section>

    <section class='section text-muted'>
        {% if books %}
        <div class='container'>
            <h5>{{query}}</h5>
            <div class='row grid-style'>
                {% for book in books: %}
                <div class='pt-4 col-xl-5th col-lg-3 col-md-4 col-sm-6 col-xs-12'>
                    <div class='blog-box'>
                        <div class='post-media'>
                            <a href="{{ url_for('show_book', book_id=book.isbn13) }}">
                                <img src='{{book.image}}' class='img-fluid' alt={{book.title}}/>
                                <div class='hovereffect'></div>
                            </a>
                        </div>
                        <div class='blog-meta'>
                            <h4><a href="{{ url_for('show_book', book_id=book.isbn13) }}">{{book.title}}</a></h4>
                            <p>{{book.subtitle}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class='pt-5'>
                <nav>
                    <ul class='pagination flex-wrap'>
                        <li class='page-item'><a href='#' class='page-link'>Previous</a></li>
                        <li class='page-item active'><span class='page-link'>1</span></li>
                        <li class='page-item disabled'><span class='page-link'>2</span></li>
                        <li class='page-item'><a href='#' class='page-link'>3</a></li>
                        <li class='page-item disabled'><a href='#' class='page-link'>Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        {% else %}
        <div class='container text-center'>
            <h2>Nothing turned up</h2>
            <h6>You can try again</h6>
        </div>
        }
        {% endif %}
    </section>

    <footer>
        <p>Copyright © 2023</p>
    </footer>
</div>
{% endblock %}