{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}

{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block title %}ToDo List{% endblock %}


{% block content %}
<div class="section mt-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12">
                <div id="main" class="card">
                    <div class="card-body">
                        <h1> Todo List </h1>
                        {{ wtf.quick_form(form, novalidate=True) }}
                        <hr>
                        <h5> Tasks </h5>
                        <div>
                            <ul class="list-group pr-0">
                            {% for row in tasks %}
                                {% for item in row %}
                                <li class="list-group-item d-flex align-items-center"> {{ item }} <i class="fas fa-times text-danger mr-auto delete-item"></i> </li>
                                {% endfor %}
                            {% endfor %}
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>{% endblock %}
